html(lang="en")
  include templates/head
  body
    .calculator
      span.field 0
      table
        tbody
          tr
            td
              button#cancel C
            td
            td
            td
          tr
            td
              button.number 7
            td
              button.number 8
            td
              button.number 9
            td
              button.symbol +
          tr
            td
              button.number 4
            td
              button.number 5
            td
              button.number 6
            td
              button.symbol -
          tr
            td
              button.number 1
            td
              button.number 2
            td
              button.number 3
            td
              button.symbol *
          tr
            td(colspan="2")
              button.number 0
            td
              button#res =
            td
              button.symbol /

    