body
  background-color: rgba(000,000,000,.7)
#content
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  flex-shrink: 300px
a
  position: relative
  &:hover
    transform: scale(1.05)
    transition: all .3s ease-in
    & span
      display: block
img
  height: 300px
  margin: 5px
span
  position: absolute
  width: 100%
  height: 100%
  z-index: 2
  color: #fff
  text-align: center
  display: none
  background: rgba(000,000,000,.5)
  text-transform: uppercase
  top: 0%