<!DOCTYPE html>
html(lang="en")
  include templates/head.pug
  body
  - let hello = 'hello';
    - for (let i = 0; i < 5; i++) {
      div= i + `. Hello ${hello}`
    - }
    - let cars = ['porche', 'zyguly', 'BMW'];
    ul
      for name in cars
        li= name
    ul
      each val, index in cars
        li= index + val
    div
      p #{cars}
    div.class
    div#id
    mixin thumbnail(imageName, caption)
      div.thumbnail
        img(src="img/#{imageName}.jpg", alt="")
        h4.image-caption #{caption}
    +thumbnail('sadfkfkl', 'h4 hello #')