body
  background-color: #bbb
.calculator
  width: 200px
  margin: 0 auto
  padding-top: 50px
table
  width: 100%
  padding: 0
  margin: 0
.field
  border: 1px solid #000
  width: 100%
  display: block
  padding: 5px
  height: 15px
  text-align: right
  background-color: #fff
button
  width: 100%