.panel {
  width: 68%;
}
body {
  position: relative;
}
.buttons {
  position: fixed;
  right: 0;
  top: 35%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(000,000,000,.2);
}
.btn {
  margin-bottom: 10px;
}
.btn:last-child {
  margin-bottom: 0;
}
.inputs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
input {
  margin-bottom: 10px;
}
