body {
  background-color: #333;
}

.header {
  background-color: #272b30;
  border-bottom: 1px solid gold;
  box-shadow: 0 -2px 10px gold;
  position: relative;
  z-index: 2;
}

.sidebar {
  background-color: #272b30;
  width: 100%;
  padding: 20px;
}

.btnPrev, .btnNext {
  background-color: gold;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 10%;
  color: #000;
  font-size: 20px;
  opacity: .8;
}

.btnPrev:hover,
.btnNext:hover {
  opacity: 1;
}

.btnPrev {
  margin-right: 10px;
}

.pagination {
  padding-top: 10px;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.pagination span {
  margin-right: 10px;
  color: #fff;
}

.show {
  width: 100%;
  background-color: gold;
  border: none;
  color: #000;
  text-transform: uppercase;
  padding: 5px;
  font-weight: 700;
  height: 40px;
  margin-bottom: 20px;
}

.show:last-child {
  margin-bottom: 0;
}

.profile {
  height: 100%;
  width: 100%;
}

.profile-img {
  width: 75px;
  height: 75px;
}

.name {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}

.search {
  padding-top: 17px;
  float: right;
}

.content {
  padding-top: 10px;
  padding-bottom: 30px;
}

input {
  padding: 10px;
  border: none;
}

input:focus {
  box-shadow: 0 0 10px gold;
}

table {
  border: 1px solid #fff;
  font-size: 18px;
  color: gold;
  width: 100%;
}

table td,
table th {
  padding: 10px;
  border-left: 1px solid #fff;
  text-align: center;
  cursor: default;
}

table td:first-child {
  font-weight: 600;
}

table td:first-child,
table th:first-child {
  border-left: 0;
}

/* table tbody tr:hover,
table tbody tr:nth-child(odd):hover {
  background-color: #bbb;
} */

table th {
  border-bottom: 1px solid #fff;
  text-shadow: 0 0 10px gold;
}

/* table tbody tr:nth-child(odd) {
  background-color: #eee;
} */

.show img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.disable {
  background-color: #bbb;
}


.loader_wrapper {
  position: relative;
  filter: drop-shadow(0 0 1px yellow);
  display: none;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: arial;
  color: yellow;
  text-shadow: 1px 1px 1px black;
  animation: blink 1s ease infinite;
}

.loader {
  width: 100px;
  height: 100px;
  animation: flip 2s linear infinite;
  text-align: center;
}

.loader path {
  stroke: black;
  stroke-width: 30;
  fill: transparent;
  stroke-dasharray: 100px 5px;
  animation: spin 1s ease-in-out infinite alternate;
}

@keyframes spin {
  0% {
    stroke-dashoffset: 500;
    opacity: .5;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}

@keyframes blink {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

.personName {
  cursor: pointer;
}
.personName:hover {
  background-color: #fff;
  color: #000;
}

/* body {
  position: relative; 
}
.modal {
  background-color: #fff;
  position: fixed;
  width: 500px;
  height: 500px;
  display: block;
  left: 30%;
  top: 30%;
} */
/* .modal {
  display: block;
} */
.modal-dialog {
  height: 500px;
}
.modal-body span {
  font-weight: 700;
  text-transform: uppercase;
}
