html(lang="en")
  include templates/head
body
  main.home
    .container-fluid
      .row
        .col-md-2
          .left-panel
            h1.left-panel__title dairy app
            span.left-panel__subtitle Comment with no sense
        .col-md-10.blocks
          .row
            .col-lg-5.col-md-6
              .items.block
                h2.block-title Items
                form.items__panel#list-form(action="")
                  input.items__input(type="text" placeholder="Type name here...")
                  button.items__add(type="submit") Add new
                ul.list#list
                  li
                    div
                      a(href="#") first item custom name
                      span 132
                    button Delete
                  li.active
                    div
                      a(href="#") Second item is active
                      span
                    button Delete
            .col-lg-7.col-md-6
              .comments.block
                h2.block-title Comments #2
                .comments__content
                  article.article
                    .comments__img
                    .comments__text
                      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quidem architecto eos eveniet, nobis blanditiis, accusamus possimus suscipit modi fugiat deserunt mollitia nesciunt tempora incidunt, neque dolores vel magnam ducimus. Eaque error adipisci voluptates porro dolore deleniti consequatur deserunt veniam! Unde cumque asperiores rem cum nulla perferendis fuga aperiam, quidem sunt illum at placeat quasi dolorum voluptatum et accusantium commodi.
                  article.article
                    .comments__img
                    .comments__text
                      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quidem architecto eos eveniet, nobis blanditiis, accusamus possimus suscipit modi fugiat deserunt mollitia nesciunt tempora incidunt, neque dolores vel magnam ducimus. Eaque error adipisci voluptates porro dolore deleniti consequatur deserunt veniam! Unde cumque asperiores rem cum nulla perferendis fuga aperiam, quidem sunt illum at placeat quasi dolorum voluptatum et accusantium commodi.
                form.comments__form(action="")
                  .comments__img
                  textarea(name="comment")
                  