button {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 500px;
  padding: 10px;
  background-color: red;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}
button:active {
  transform: scale(.98);
}
.block {
  width: 100px;
  height: 100px;
  background-color: green;
}

p {
  background-color: red;
  cursor: pointer;
  /* height: 20px; */
  padding: 10px;

}

#one, #two, #three {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
}

#one {
  width: 1000px;
  height: 600px;
  padding: 100px;
  margin: 0 auto;
}
#two {
  padding: 100px;
}

div {
  /* background-color: gray; */
  /* height: 300px; */
  /* width: 300px; */
  /* color: green; */
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-block;
}

.div {
  background-color: yellow;
}
.div2 {
  background-color: blue;
}
