body, div, ul
  margin: 0
  padding: 0

p
  margin: 0
  
#left 
  width: 20%
  float: left
#right 
  width: 75%
  float: right

.name
  cursor: pointer
  margin-bottom: 10px
  display: block
  &:hover
    text-decoration: underline

.post
  border: 1px solid #000
  padding: 30px
  margin-bottom: 4px
.title
  text-transform: uppercase
  font-weight: 700
  text-align: center
  margin-bottom: 10px
