body {
  background-image: url('https://wallpaperscraft.com/image/darth_vader_armor_star_wars_film_hat_snow_93645_1920x1080.jpg');
  width: 100%;
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
}

.mb-1 {
  text-transform: uppercase;
}

.page-link {
  background-color: transparent !important;
  color: #6117e1 !important;
}

.shdw-rnd {
  padding: 10px;
  box-shadow: 5px 10px 5px #08080896;
}

#modal-loader {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: none;
  padding-top: 15px;
}

#modal-loader img {
  width: 100%;
  height: auto;
}

.shdw-smpl {
  padding: 10px;
  box-shadow: 4px 5px 10px 5px #0808084b;
}

.bg-color {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 100%;
  height: 100px;
}

a {
  cursor: pointer;
}

body {
  background-color: #070803 !important;
  position: relative;
}

form {
  padding-top: 10px;
}

.content {
  margin-top: 22px;
  margin-bottom: 25px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #06264d;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.menu-btns {
  width: 100%;
}

.nav .nav-item {
  text-align: center;
}

.nav-link {
  color: aliceblue;
  outline: none;
  display: inline-block !important;
  padding: 0 !important;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}


.nav-link:hover {
  color: red;
  position: relative;
  z-index: 2;
}

.bg-primary-cstm {
  background-color: #6c7ddf85;
}

/*loader*/

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
  }
}

.loader {
  display: none;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  position: relative;
}

.loader .rotated {
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(45deg) scale(0.5);
  position: absolute;
  left: 50%;
}

.loader .rotated div {
  border: 7px solid;
  width: 150px;
  height: 150px;
  margin: 15px;
  -webkit-animation: scale 1.2s ease-in-out infinite;
  color: #000;
}

.loader div.red {
  -webkit-transform-origin: 50% 50%;
  border-color: crimson;
}

.loader div.blue {
  -webkit-transform-origin: 0 0%;
  border-color: #024678;
}

.loader div.black {
  -webkit-transform-origin: -10% -10%;
  border-color: greenyellow;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#more {
  border: none;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  outline: none;
}
#more:hover {
  background: transparent;
  color: red;
}

.jumbotron {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}