body
  background-color: rgba(000,000,000,.7)
#content
  display: flex
  // flex-direction: row
  flex-wrap: wrap
  justify-content: center
a
  position: relative
  display: inline-block
  // width: 200px
  // flex: 1 300px
  width: 300px
  margin: 5px
  &:hover
    transform: scale(1.01)
    transition: all .3s ease-in
    & span
      display: block
img
  height: 100%
  width: 100%
span
  position: absolute
  width: 100%
  height: 100%
  z-index: 2
  color: #fff
  text-align: center
  display: none
  background: rgba(000,000,000,.5)
  text-transform: uppercase
  top: 0%

#more
  position: fixed
  z-index: 999
  right: 0
  height: 50px
  text-transform: uppercase
  font-weight: 700
  display: none