<!DOCTYPE html>
html(lang="en")
  include templates/head.pug
  body
    select#select(name="select")
      option(value="all") All
      option(value="movie") Movie
      option(value="game") Game
      option(value="series") Series
    input(id="input" type="text" placeholder="Title...")
    button(id="submit") Click
    button#more Load more
    #page_num
    section#content