<!DOCTYPE html>
html(lang="en")
  include templates/head.pug
  body
    input(id="input" type="text" placeholder="Title...")
    button(id="submit") Click
    button#more Load more 
    section#content