.modal-body input, .modal-body select {
  display: block;
  width: 100%;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}
#myModal {
  display: block;
  position: relative;
}
form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

form input {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
}

ul {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  width: 300px;
  list-style: none;
}


ul {
  border: 1px solid #eee;
  border-top: 0;
  margin-top: -5px;
  margin-bottom: 5px;
  display: none;
}
ul li{
  display: block;
  padding: 10px;
  cursor: pointer;
}
ul li:hover {
  background-color: #eee;
}
