#Progress {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #bbb;
}

#Bar {
  background-color: #1b7fd0;
  width: 10px;
  height: 30px;
  position: absolute;
}

span {
  display: block;
  font-size: 24px;
  position: absolute;
  left: 48.5%;
}

.btn {
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
  background-color: #1b7fd0;
  margin-top: 20px;
}
