.mr-none
  margin-left: 0
  margin-right: 0
  padding-right: 0
  padding-left: 0
h1, h2
  margin: 0

ul
  margin: 0
  padding: 0
  list-style: none
p
  margin-top: 0
.list
  padding-top: 20px
  li
    padding-top: 7px
    padding-bottom: 7px
    border-bottom: 1px solid #eee
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    &.active
      &::after
        content: ''
        position: absolute
        left: -32px
        top: 0
        height: 100%
        width: 4px
        background-color: red
    span
      margin-left: 10px
      display: inline-block
      background-color: #26ccc0
      color: #ffffff
      font-weight: 700
      font-size: 12px
      padding: 2px 10px
      border-radius: 50px
      cursor: default
    a
      color: #000
      font-weight: 700
    button
      border: 1px solid red
      border-radius: 2px
      background: transparent
      height: 35px
      width: 100px
      color: red

.block-title
  padding-bottom: 10px
.block
  padding: 30px
  box-shadow: 0 0 10px rgba(000,000,000,.3)
  border-radius: 5px
.home
  .blocks
    padding-top: 50px
  .left-panel
    background-color: #2c2f3e
    text-align: center
    height: 100vh
    padding-top: 30px
    &__title
      color: #fff
      text-transform: uppercase
    &__subtitle
      color: #787b82
  
  .items
    &__panel
      display: flex
      justify-content: space-between
    &__add
      background-color: #26ccc0
      border: none
      color: #ffffff
      height: 30px
      border-radius: 2px
      width: 25%

    &__input
      width: 70%
  .comments
    &__img
      width: 100px
      height: 100px
      background-color: red
    &__text
      margin-left: 20px
      width: 90%
    .article
      display: flex
      justify-content: space-between
      border-bottom: 1px solid #eee
      padding-bottom: 20px
      padding-top: 20px
      &:last-child
        border-bottom: 0
      p
        margin-bottom: 0
    &__form
      display: flex
      padding-top: 60px
      textarea
        margin-left: 50px
        width: 50%


